body {
    font-family: Courier New, monospace;
    margin: 0;
    padding: 0;
    background-color: #efdd8d;
}
header {
    background: #65743A;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border-radius: 5px;
}
