body {
    font-family: Courier New, monospace;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #17183b;
    background-color: #eff7cf;
}
header {
    background: #eff7cf;
    color: #17183b;
    max-width: 800px;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #b02e0c;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: #17183b;
    text-decoration: none;
}
section {
    padding: 20px;
    margin: 20px;
    background: #eff7cf;
    border-radius: 5px;
}
